<h1>上传文件</h1>

<%= link_to '向老师发送站内信' ,send_teacher_path  %>
<%= form_tag({action: :upload}, multipart: true) do %>
<%= file_field_tag 'upload'  %>
<button>上传</button>
<% end %>

<% for i in @picture_list %>
<%= i['name'] %>
    <%= link_to '下载' , download_path(:path => i['path'],:name=>i['name'])  %>
    <%= link_to '删除', delete_upload_path(:path => i['pa th']) %>
<% end %>