<div class="teacher_page_head"><h1>已设课题</h1></div>
<div class="add_title"><%= link_to '添加题目', add_title_path %></div>
<div class="add_title"><%= link_to '成绩评定', score_eva_path %></div>

<table class="topic">
  <tr>
    <th>
      题目
    </th>
    <th>需求</th>
    <th>学生姓名</th>
    <th>查看完成情况</th>
    <th>发送站内信</th>
    <th>删除课题</th>
    <th>修改课题</th>
  </tr>
  <%- @all_title.each do |p| %>
      <tr>
        <td>    <%= p.title %></td>
        <td><%= p.demand %></td>

        <% if p.user_id == nil %>
            <td></td>
            <td></td>
            <td></td>
        <% else %>
            <td><%= p.user.name %></td>
            <td><%= link_to '查看', check_path(:id => p.id) %></td>
            <td><%= link_to '发送', teacher_send_message_path(:id => p.user_id) %></td>
        <% end %>
        <td><%= link_to '删除', delete_path(:id => p.id) %></td>
        <td><%= link_to '修改', modify_path(:id => p.id) %></td>
      </tr>

  <% end %>
</table>
