<div class="teacher_page_head"><h1>已设课题</h1></div>
<div class="add_title"><%= link_to 'add_title', add_title_path %></div>
<table class="topic">
  <tr>
    <th>
      题目
    </th>
    <th>需求</th>
    <th>所属</th>
    <th>查看完成情况</th>
    <th>发送站内信</th>
  </tr>
  <%- @all_title.each do |p| %>
      <tr>
        <td>    <%= p.title %></td>
        <td><%= p.demand %></td>

        <% if p.user_id == nil %>
        <% else %>
            <td><%= p.user.name %></td>
            <td><%= link_to '查看', check_path(:id => p.id) %></td>
            <td><%= link_to '发送', teacher_send_message_path(:id => p.user_id) %></td>
        <% end %>
      </tr>

  <% end %>
</table>
